<p id="notice"><%= notice %></p>

<h1>Your Thoughts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Thought</th>
      <th>User</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @thoughts.each do |thought| %>
      <tr>
        <td><%= thought.title %></td>
        <td><%= thought.description %></td>
        <td><%= thought.user.try(:email) %></td>
        <td><%= rating_for thought, "quality", space: true %></td>
        <td><%= link_to 'Show', thought %></td>
        <% if thought.user == current_user %>
          <td><%= link_to 'Edit', edit_thought_path(thought) %></td>
          <td><%= link_to 'Destroy', thought, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thought', new_thought_path %>
